.tests.new, .tests.edit {
  .contents {
    position: relative;
  
    .test-title {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 55px;
      height: 44px;
    }

    .test-editor {
      position: absolute;
      top: 110px;
      left: 10px;
      right: 10px;
      bottom: 65px;
      border: 1px solid #DDD;

      .test-markdown, .test-preview {
        display: inline-block;
        height: 100%;
        width: 50%;

        .test-editor-header {
          padding: 5px 10px;
          height: 30px;
          background-color: #EEE;
          color: #AAA;
        }
      }

      .test-markdown {
        border-right: 1px solid #DDD;

        textarea {
          border: none;
          width: 100%;
          height: calc(100% - 30px);
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
        }
      }

      .test-preview {
        float: right;

        .test-preview-content {
          width: 100%;
          height: calc(100% - 30px);
          overflow-y: scroll;
          padding:  10px;
        }
      }
    }

    footer {
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
  }
}