.tests.new {
  .content-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding-top: 8px;
    padding-left: 280px;
    padding-right: 20px;
  }
}

.edit-test-modal {
  .modal-body {
    padding-top: 0 !important;
  }
}

.tests.new, .edit-test-modal {
  .new_test, .edit_test {
    height: 100%;
    padding-bottom: 60px;
  }

  .test-title {
  }

  .test-body {
    height: calc(100% - 40px);
    padding-top: 10px;

    .test-markdown, .test-preview {
      display: inline-block;
      height: 100%;
      width: 50%;
    }

    .test-markdown {
      textarea {
        height: 100%;
        resize: none;
      }
    }

    .test-preview {
      float: right;
      padding-left: 15px;
      overflow: scroll;
    }
  }
}