.tests.show {
  .progress-count-list {
    margin-bottom: 0;
    td {
      text-align: right;
      padding: 4px;

      &:first-child {
        padding-right: 8px;
      }

      &:last-child {
        color: #777;
      }

      .label {
        display: block;
      }
    }

    tr:nth-last-child(2) > td {
      padding-bottom: 10px;
    }

    tr:last-child {
      border-top: 1px solid #AAA;
    }
  }

  .contents {
    .progress.progress-animation {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 7px;
      padding-top: 1px;
      margin-bottom: 0;
      z-index: 1030;
      border-radius: 0;
      box-shadow: none;
      background-color: #DDD;

      &.margin-sidebar {
        padding-left: 280px;
      }
    }

    .test-title {
      margin-top: 0;
    }

    .test-description {
      position: relative;
      margin-bottom: 20px;
      padding: 6px 34px 6px 10px;
      background-color: #EEE;
      border-radius: 2px;

      p {
        margin-bottom: 0;
        word-wrap: break-word;
      }

      .placeholder {
        color: #BBB; 
      }

      .tool-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
      }
    }

    .test-detail {
      display: block;
      margin-bottom: 30px;
      color: #777;
      text-align: right;
    }

    .bip-placeholder {
      color: #CCC;
    }
  }
}