.navbar {
  .navbar-nav > li > a {
    padding: 6px 12px;
    margin-top: 8px;
    border-radius: 2px;
  }

  .navbar-nav > li:not(:last-child) {
    margin-right: 10px;
  }

  .navbar-nav.pull-right {
    padding-right: 20px;
  }
}

.navbar.navbar-with-sidebar {
  background-color: #FFF;
  padding-left: 260px;

  .navbar-content {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;

    .btn {
      padding: 6px 12px;
      margin-top: 8px;
    }

    .navbar-right {
      margin-right: 0;  // bootstrap orverride
    }

    .navbar-title {
      padding: 4px;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      padding-top: 12px;

      .dropdown {
        .fa-angle-down {
          padding: 0 8px;
          font-size: 85%;
        }
      }
    }
  }
}