.page-with-sidebar {
  .sidebar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .root-sidebar {
    background-color: #192637;

    a {
      color: #C5D0DE;
      display: block;

      &:hover, &:focus {
        background-color: #364760;
        color: #FFF;
      }
    }

    .home-btn, .add-team-btn {
      height: 60px;
      text-align: center;
      .fa { margin-top: 16px; }  // TODO
    }

    .home-btn {
      background-color: #01AB52;
      color: #FFF;

      &:hover, &:focus {
        background-color: #01AB52;
      }
    }

    .add-team-btn {
      background-color: #192637;
      font-size: 28px;
    }

    ul {
      flex: 1;

      li {
        text-align: center;

        .team-btn {
          height: 60px;
          text-align: center;

          .hilight-bar {
            display: inline-block;
            float: left;
            width: 4px;
            height: 60px;
            background-color: transparent;
          }

          .symbol {
            display: block;
            font-size: 20px;
            font-weight: bold;
            padding-top: 6px;
          }

          .description {
            display: inline-block;
            overflow: hidden;
            width: 46px;  // sidebar-width - hilight-bar-width - (margin-left + margin-right)
            font-size: 11px;
          }
        }
      }

      li.active {
        .team-btn {
          background-color: #364760;
          color: #FFF;
        }

        .hilight-bar { background-color: #01AB52; }
      }
    }
  }

  .team-sidebar {
    border-right: 1px solid #DDD;
    background-color: #FFF;

    .sidebar-title {
      .dropdown-toggle {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;

        .team-name {
          > span {
            display: inline-block;
            word-wrap: break-word;
            max-width: 135px;
          }

          .fa-angle-down {
            padding-top: 0;
            width: 20px;
            font-size: 85%;
            text-align: right;
          }
        }

        &:hover {
          background-color: #EEE;
          border-radius: 2px;
        }
      }

      .username {
        display: block;
        margin-top: 5px;
        color: #777;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
      }
    }

    .list-header {
      padding: 0 20px;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
      color: #555;

      .add-project-btn {
        float: right;
        padding: 0 4px;
      }
    }

    .sidebar-list {
      padding: 0 20px;
      flex: 1;

      li {
        overflow-x: hidden;

        a {
          display: inline-block;
          width: 100%;
          padding: 6px;
          font-size: 12px;
          font-weight: bold;
        }

        &:hover, &.active {
          background-color: #EEE;
          border-radius: 2px;
        }
      }
    }
  }
}