body, html {
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

body {
  &.registrations, &.sessions, &.passwords, &.confirmations {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F3F3F3;

    .navbar {
      background-color: #FFF;
      box-shadow: 0 1px 1px rgba(0,0,0,.1);

      .logo {
        background: url(/images/header_logo.png);
        height: 30px;
        width: 150px;
        float: left;
        margin-top: 9px;
        margin-left: 9px;
      }
    }
  }

  &.static_pages.top {
  }
}