.color-white {
  background-color: #FFF;
  color: #333;

  &.btn {
    border: 1px solid #BDBDBD;

    &:hover, &:focus {
      background-color: #EEEEEE;
    }
  }
}

.color-green, .color-primary {
  background-color: #4CAF50;
  color: #FFF;

  &.btn {
    border: 1px solid #388E3C;

    &:hover, &:focus {
      background-color: #43A047;
      color: #FFF;
    }
  }
}

.color-indigo {
  background-color: #3F51B5;
  color: #FFF;

  &.btn {
    border: 1px solid #303F9F;

    &:hover, &:focus {
      background-color: #3949AB;
      color: #FFF;
    }
  }
}

.color-blue {
  background-color: #2196F3;
  color: #FFF;
  outline: 0;

  &.btn {
    border: 1px solid #1976D2;

    &:hover, &:focus {
      background-color: #1E88E5;
      color: #FFF;
    }
  }
}

.color-red {
  background-color: #F44336;
  color: #FFF;

  &.btn {
    border: 1px solid #D32f2f;

    &:hover, &:focus {
      background-color: #E53935;
      color: #FFF;
    }
  }
}

.color-orange {
  background-color: #FF9800;
  color: #FFF;

  &.btn {
    border: 1px solid #F57C00;

    &:hover, &:focus {
      background-color: #FB8C00;
      color: #FFF;
    }
  }
}

.color-gray {
  background-color: #9E9E9E;
  color: #FFF;

  &.btn {
    border: 1px solid #757575;

    &:hover, &:focus {
      background-color: #757575;
      color: #FFF;
    }
  }
}

.color-lightgray {
  background-color: #EEEEEE;
  color: #424242;

  &.btn {
    border: 1px solid #E0E0E0;

    &:hover, &:focus {
      background-color: #E0E0E0;
      color: #424242;
    }
  }
}