.modal-fullscreen {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 20px;

  .modal-content {
    height: 100%;
    border-radius: 0;

    .modal-header {
      height: 55px;
    }

    .modal-body {
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      bottom: 50px;
    }

    .modal-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.btn-ghost {
  border: 3px solid #FFF;
  border-radius: 4px;
  background-color: transparent;
  color: #FFF;
  font-size: 20px;
  padding: 18px 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  &:hover, &:focus {
    background-color: #FFF;
    color: #01AB52;
  }
}

.inline-block {
  display: inline-block !important;
}

.has-feedback .form-control.validation {
  padding-right: 16px;
}

.popover.error {
  width: 100%;
  max-width: 100%;
  background-color: #F44336;
  color: #FFF;

  &.top .arrow:after, &.bottom .arrow:after {
    border-bottom-color: #F44336;
  }
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateY(-45%) translateX(-50%);
  -ms-transform: translateY(-45%) translateX(-50%);
  transform: translateY(-45%) translateX(-50%);
  text-align: center;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #BBB;
    font-size: 26px;
  }

  p {
    color: #BBB;
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.color-picker {
  input[type=radio] {
    display: none;
    margin: 0;

    + label {
      height: 20px;
      width: 20px;
      padding: 0;
      margin: 0;
      border-radius: 2px;
      cursor: pointer;
    }

    &:checked + label {
      border: 2px solid #333;
    }
  }
}

.card {
  background-color: #FFF;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  padding: 30px 40px;
  margin: 40px auto 0;
  position: relative;
  border: 1px solid #e8e8e8;
  width: 400px;

  .card-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
  }

  .btn[type='submit'] {
    margin-bottom: 20px;
  }
}