.team-users-modal {
  .search-user {
    text-align: center;
    
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;

    .form-group {
      text-align: left;
      margin-bottom: 30px;

      label {
        font-weight: normal;
      }
    }

    .ladda-button {
      .fa-chevron-down {
        margin-right: 4px;
      }

      &:disabled .fa-chevron-down {
        display: none;
      }
    }
  }
}