.testcase-list {
  .testcase-group {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-top-style: none;
    margin-bottom: 16px;
  }

  .dropdown-menu {
    background-color: #324851;

    a { color: #FFF; }
  }

  .tr {
    display: table;
    width: 100%;
    border-top: 1px solid #DDD;
  }

  .td {
    display: table-cell;
    vertical-align: middle;
    padding: 2px 2px;
  }

  .heading {
    background-color: #FAFAFA;
    color: #717171;
    font-size: 14px;
    min-height: 29px;
    padding: 2px 2px 2px 48px;
    word-break: break-all;

    .body { font-weight: bold; }

    &.heading-level-1 {
      font-size: 16px;
      letter-spacing: 0.1em;
      margin-top: 16px;
      padding-left: 8px;
      height: 34px;

      &:first-child {
        margin-top: 0;
      }
    }

    &.heading-level-2 {
      padding-left: 18px;
    }

    &.heading-level-3 {
      padding-left: 28px;
    }

    &.heading-level-4 {
      padding-left: 38px;
    }

    .result {
      text-align: right;

      .result-bulk {
        color: #555;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        padding: 3px 6px;
      }
    }
  }

  .testcase {
    height: 43px;
    padding-left: 8px;

    .number {
      color: #CCC;
      padding-left: 4px;
      width: 30px;
      font-size: 12px;
    }

    .body {
      padding: 4px 10px;
      line-height: 16px;
    }

    .result {
      .result-btn-group {
        .result-btn, .dropdown-toggle {
          height: 32px;
        }

        .result-btn {
          width: 90px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        .dropdown-toggle {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }

  .result {
    width: 140px;
    text-align: center;

    .result-item, .result-bulk-item {
      display: block;
      cursor: pointer;
      color: #FFF;
      padding: 3px 20px;
      margin: 0;

      &:hover {
        background-color: #E1E3EA;
        color: #333;
      }
    }
  }

  .note {
    width: 20%;
    max-width: 200px;
    padding: 6px 4px;

    .best_in_place {
      display: block;
      width: 100%;
      padding: 4px;
      border: 1px solid transparent;
      border-radius: 2px;
      white-space: nowrap;
      overflow: hidden;

      input {
        width: 100%;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: 0;
      }

      &:hover {
        background-color: #FFFFCC;
        border-color: #CCC;
        cursor: text;
      }
    }

    .bip-placeholder {
      color: #CCC;
    }
  }
}