p = "こんにちは #{@resource.email} さん。"

p パスワードリセットのリクエストが行われました。<br>下記のリンクからパスワードを変更することができます。

p = link_to "パスワードを再設定", edit_password_url(@resource, reset_password_token: @token)

p もしこのメールに心当たりがない場合は、無視して下さい。<br>上記リンクをクリックして新しいパスワードを作成しない限り、パスワードは変更されません。